{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid pt-4 pb-4 my-auto">
    <div class="row">
        <div class="col" id="col-a">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ul>

                <!-- Wrapper for slides -->
                <div class="carousel-inner second-font">
                    <div class="carousel-item active">
                        <div class="bk-image bk-image1">
                            <div class="carousel-caption">
                                <h3>Baptiste Bonnet</h3>
                                <p>Marble Blur</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="bk-image bk-image2">
                            <div class="carousel-caption">
                                <h3>Sabina Patterson</h3>
                                <p>Turn to Nature</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="bk-image bk-image3">
                            <div class="carousel-caption">
                                <h3>Oscar Baker</h3>
                                <p>Summer Meadow</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
        <div class="col col-md-3 col-md-offset-1 tagline-wrapper" id="col-b">
            <h1 class="display-4 logo-font text-black second-font">
                Inspiring images printed to the highest quality
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="row" id="company-info">
        <div class="col-12 col-md-10 offset-md-1">
            <h2 class="display-5 logo-font text-black topic-heading second-font">Wall Art from Íomhá Prints</h2>
            <p>At Íomhá Prints we stock a broad range of artistic prints suitable for every home and office.  With our wide choice of themes, including abstract, 
               landscapes and architecture, we have art to suit all tastes.  So whether it's adding the finishing touch to your decor or finding the perfect gift, 
               we are sure we have images here to delight and inspire you.  Check out our new arrivals area to see images we have acquired within the last 6 
               months, or our discounted range to see our latest offers.  Enjoy!
            </p>
            <h2 class="display-5 logo-font text-black topic-heading second-font">Art to complement every room</h2>
            <p>Eye-catching and inspirational images will add ambience and character to your rooms to help you put your own personal stamp on your space. Our 
               prints are available to order in three different sizes, A1, A2 and A4 and are finished to the highest standards of quality. So whether you want 
               to brighten a small nook or style a boardroom, we can ship you the image that fits the bill. 
            </p>
            <h2 class="display-5 logo-font text-black topic-heading second-font">Discovering new talent</h2>
            <p>Here at Íomhá Prints we are very proud of the artists we promote.  We are always on the lookout for new artwork and artists to add to our 
               exclusive catalogue.  Each month in our newletter we include a 'spotlight on' piece where we interview an artist, find out a little bit 
               about their background, talk to them about what motivates and inspires their work and what direction they are considering next.  We also
               include details on what upcoming shows and exhibitions our artists have planned, so please subscribe today by entering your email address 
               at the bottom of this page. 
            </p>
        </div>
    </div>
</div>


{% endblock %}
