{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if artist.image %}
                <a href="{{ artist.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid image-border" src="{{ artist.image.url }}"
                        alt="{{ artist.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid image-border" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ artist.name }}">
                </a>
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0"><strong>Name: </strong>{{ artist.name }}</p>
                <p class="mb-0"><strong>Date of Birth: </strong>{{ artist.dob }}</p>
                <p class="mb-3"><strong>Nationality: </strong>{{ artist.nationality }}</p>
                <p class="mb-0"></p>{{ artist.bio | safe}}</p>
            </div>
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_artist' artist.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_artist' artist.id %}"
                    onclick="return confirm('Are you sure you wish to delete this artist?')">Delete</a>
            </small>
            {% endif %}
        </div>


    </div>
</div>
{% endblock %}