html {
    height: 100%;
}

body {
    font-family: 'Lato';
}

.second-font {
    font-family: 'Old Standard TT';
}

.bk-image {
    background-size: cover;
    color: #555;
    margin: auto;
    max-width: 125rem;
    height: 50rem;
}

.bk-image1 {
    background: url('/media/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg') no-repeat center center fixed;
}

.bk-image2 {
    background: url('/media/dan-freeman-WHPsxhB4mWQ-unsplash.jpg') no-repeat center center fixed;
}

.bk-image3 {
    background: url('/media/silvestri-matteo-6-C0VRsagUw-unsplash.jpg') no-repeat center center fixed;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 16.25rem;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 0.0625rem solid black !important;
}

.bg-black {
    background: #000 !important;
}

.carousel-inner>.carousel-item>img {
    max-width: 80.625rem;
    width: 80.625rem;
    height: 65vh;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 125rem;
}

.page-width-limit {
    margin-right: auto;
    margin-left: auto;
    max-width: 100rem !important;
}

.footer {
    margin-right: auto;
    margin-left: auto;
}

.carousel-caption {
    background-color: rgba(87, 86, 85, 0.5);
}

#title-logo {
    padding-left: 0rem;
    font-family: 'Lato';
}

.header-container {
    padding-top: 8.125rem;
}

#mobile-menu {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}

#col-a {
    max-width: calc(100% - 21.25rem);
    min-width: 26.75rem;
}

#col-b {
    min-width: 20rem;
}

.image-border {
    padding: 0.375rem;
    border: 0.125rem solid black;
}

.print-title {
    font-size: large;
    letter-spacing: 0.08rem;
}

.print-details {
    font-size: x-large;
    letter-spacing: 0.2rem;
}

.print-details-sub {
    font-size: large;
    letter-spacing: 0.1rem;
}

.image-flash {
    position: absolute;
    top: -3%;
    right: -3%;
    min-width: 20%;
    border-radius: 0.25rem;
}

.image-flash-detail {
    position: absolute;
    top: 7%;
    right: 0;
    min-width: 20%;
    border-radius: 0.25rem;
}

.image-bkgd-hard {
    background-color: #FFA500;
}

.discount {

    padding-top: 0.875rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: Lato;
    font-weight: 600;
    text-align: center;

}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.category-badge {
    letter-spacing: 0.2rem;
    font-size: larger;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    position: fixed;
    height: 2.625rem;
    width: 2.625rem;
    bottom: 0.625rem;
    left: 50%;
    margin-top: -6.25rem;
    /* Negative half of height. */
    margin-left: -1.3125rem;
    /* Negative half of width. */
    background-color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 0.0625rem solid black;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 4.5rem;
    right: 0.9375rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0.125rem;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 0.625rem solid black;
    position: absolute;
    top: -0.625rem;
    right: 2.25rem;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 6.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 0.0625rem solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.allauth-form-inner-content .logo-font {
    font-family: 'Old Standard TT';
}

.print-item-heading {
    font-weight: bold;
}

.print-item-heading {
    display: none;
}

#subtotal-str {
    font-weight: bold;
}

/* styling for image widget */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.note-editor {
    width: 100% !important;
}

#div_id_dob {
    max-width: 18.75rem;
}

.data-form {
    max-width: 37.5rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 75rem) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 62rem) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 10.25rem;
    }

    .print-item-heading {
        display: flex;
    }

    #subtotal-str {
        display: none;
    }

}

@media (max-width: 48rem) {
    .nav-link {
        padding: .5rem;
    }

    .bk-image {
        height: 36.25rem;
    }

    #col-a {
        width: 100%;
        max-width: 100%;
        padding-bottom: 1rem;
        min-width: 20rem;
    }

    .print-item-heading {
        display: none;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

}

