* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

html {
    height: 100%;
}

body {  
    font-family: 'Old Standard TT';
}

.bk-image {
    background-size: cover;
    color: #555;
    margin:auto;
    max-width: 125rem;
    height: 800px;
}
.bk-image1 {
    background: url('/media/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg') no-repeat center center fixed;
}

.bk-image2 {
    background: url('/media/dan-freeman-WHPsxhB4mWQ-unsplash.jpg') no-repeat center center fixed;
}

.bk-image3 {
    background: url('/media/silvestri-matteo-6-C0VRsagUw-unsplash.jpg') no-repeat center center fixed;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.carousel-inner > .carousel-item > img {
  max-width : 1290px;    
  width: 1290px;
  height: 65vh;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 125rem;
}

.footer {
    margin-right: auto;
    margin-left: auto;
}

.carousel-caption {
    background-color: rgba(87, 86, 85, 0.5);
}

#title-logo {
    padding-left: 0rem;
    font-family: 'Lato';
}

.header-container {
    padding-top: 130px;
}

#mobile-menu {
    margin : 0;
    padding: 0;
    padding-top: 0.5rem;
}

#col-a {
    max-width: calc(100% - 340px);
    min-width: 428px;
}

#col-b {
    min-width: 320px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.image-border {
    padding:6px;
    border: 2px solid black;
}

.print-title {
    font-size:large;
    letter-spacing: 0.08rem;
}

.print-details {
    font-size:x-large;
    letter-spacing: 0.2rem;
}

.image-flash {
    position: absolute;
    top: -3%;
    right : -3%;
    min-width: 20%;
    border-radius: 4px;
}

.image-flash-detail {
    position: absolute;
    top: 7%;
    right : 0;
    min-width: 20%;
    border-radius: 4px;
}

.image-bkgd-hard {
    background-color: #FFA500;
}

.discount {
    
    padding-top: 14px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lato;
    font-weight: 600;
    text-align: center;

}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}

@media (max-width: 767px) {
    .nav-link {
        padding : .5rem;
    }

    .bk-image {
        height : 580px;
    }

    #col-a {
        width: 100%;
        max-width: 100%;
        padding-bottom: 15px;
        min-width:320px;
    }

   
}

@media (max-width: 540px) {
    .bk-image {
        height : 380px;
    }

    .header-container {
        padding-bottom : 32px;
    }
}

